<div class="row border-bottom py-2">
  <h5 class="text-left col-6">Forget password</h5>
  <i class="fa fa-times text-dark text-right col-6 pt-1" (click)="onNoClick()">
  </i>
</div>
<div>
  <form action="" class="mt-4" [formGroup]="forgetPasswordForm">
    <p class="">
      insert your email to receive alink for setting your password :
    </p>

    <div
      *ngIf="emailNotFound == true"
      class="text-left alert bg-beeg p-2 row mx-0 rounded-sm my-3"
    >
      <div class="col-1 px-0 px-md-1">
        <img
          src="../../assets/icon_alert.svg"
          height="20"
          width="100%"
          alt="image"
          class="px-0 text-left"
        />
      </div>
      <small class="col-11 px-2 my-auto">
        This e-mail is not registered , please use the email you signed up with
        .</small
      >
    </div>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput type="email" required formControlName="email" />
      <mat-error
        class="px-0 mx-0"
        *ngIf="
          forgetPasswordForm.controls.email.errors?.required &&
          forgetPasswordForm.controls.email.touched
        "
      >
        this field is required
      </mat-error>
      <mat-error
        class="px-0 mx-0"
        *ngIf="forgetPasswordForm.controls.email.hasError('invalidEmail')"
      >
        invalid email address
      </mat-error>
    </mat-form-field>
  </form>

  <div class="text-right mt-4">
    <button class="btn btn-danger mx-1 p-2" (click)="onNoClick()">close</button>
    <button class="btn btn-success mx-1 p-2" (click)="sendEmail()">send</button>
  </div>
</div>
