<app-navbar> </app-navbar>

<div class="row mx-0 m-lg-4 m-2">
  <div class="col-xl-4 col-lg-6 col-md-6 p-lg-4 p-2" style="position: relative">
    <div class="border shadow p-4 overlay">
      <img
        src="../../assets/final-cvs-screens.png"
        alt=""
        class="cvTempalte"
        width="100%"
        height="auto"
      />
      <button
        class="btn btn-main middle"
        (click)="routeToBrown()"
        target="_blank"
      >
        live demo with your data
      </button>
      <hr />
      <button
        class="btn btn-bordered w-100"
        (click)="openDialogCvLink('browny')"
      >
        select this template
      </button>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6 col-md-6 p-lg-4 p-2" style="position: relative">
    <div class="border shadow p-4 overlay">
      <img
        src="../../assets/dark-theme.png"
        alt=""
        class="cvTempalte"
        width="100%"
        height="auto"
      />
      <button
        class="btn btn-main middle"
        (click)="routeToDarkTheme()"
        target="_blank"
      >
        live demo with your data
      </button>
      <hr />
      <button
        class="btn btn-bordered w-100"
        (click)="openDialogCvLink('dark-theme')"
      >
        select this template
      </button>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6 col-md-6 p-lg-4 p-2" style="position: relative">
    <div class="border shadow p-4 overlay">
      <img
        src="../../assets/light-theme.png"
        alt=""
        class="cvTempalte"
        width="100%"
        height="auto"
      />
      <button
        class="btn btn-main middle"
        (click)="routeToLightTheme()"
        target="_blank"
      >
        live demo with your data
      </button>
      <hr />
      <button
        class="btn btn-bordered w-100"
        (click)="openDialogCvLink('light-theme')"
      >
        select this template
      </button>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 p-lg-4 p-2" style="position: relative">
    <div class="border shadow p-4 overlay">
      <img
        src="../../assets/fixed-container2.png"
        alt=""
        class="cvTempalte"
        width="100%"
        height="auto"
      />
      <button
        class="btn btn-main middle"
        (click)="routeFixedContainer2()"
        target="_blank"
      >
        live demo with your data
      </button>
      <hr />
      <button
        class="btn btn-bordered w-100"
        (click)="openDialogCvLink('fixed-container2')"
      >
        select this template
      </button>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 p-lg-4 p-2" style="position: relative">
    <div class="border shadow p-4 overlay">
      <img
        src="../../assets/fixed-container.png"
        alt=""
        class="cvTempalte"
        width="100%"
        height="auto"
      />
      <button
        class="btn btn-main middle"
        (click)="routeFixedContainer()"
        target="_blank"
      >
        live demo with your data
      </button>
      <hr />
      <button
        class="btn btn-bordered w-100"
        (click)="openDialogCvLink('fixed-container')"
      >
        select this template
      </button>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 p-lg-4 p-2" style="position: relative">
    <div class="border shadow p-4 overlay">
      <img
        src="../../assets/fixed-container3.png"
        alt=""
        class="cvTempalte"
        width="100%"
        height="auto"
      />
      <button
        class="btn btn-main middle"
        (click)="routeFixedContainer3()"
        target="_blank"
      >
        live demo with your data
      </button>
      <hr />
      <button
        class="btn btn-bordered w-100"
        (click)="openDialogCvLink('fixed-container3')"
      >
        select this template
      </button>
    </div>
  </div>
</div>
<footer-scd></footer-scd>
