<div class="d-none d-xl-block">
  <div class="row mx-0">
    <img
      src="../../assets/footer images/man_1.png"
      alt=""
      class="footer-img img1"
    />
    <img
      src="../../assets/footer images/man_2.png"
      alt=""
      class="footer-img img2"
    />
    <img
      src="../../assets/footer images/man_3.png"
      alt=""
      class="footer-img img3"
    />
    <img
      src="../../assets/footer images/man_4.png"
      alt=""
      class="footer-img img4"
    />
    <img
      src="../../assets/footer images/man_5.png"
      alt=""
      class="footer-img img5"
    />
    <img
      src="../../assets/footer images/man_6.png"
      alt=""
      class="footer-img img5"
    />
    <img
      src="../../assets/footer images/man_7.png"
      alt=""
      class="footer-img img4"
    />
    <img
      src="../../assets/footer images/man_8.png"
      alt=""
      class="footer-img img2"
    />

    <img
      src="../../assets/footer images/man_9.png"
      alt=""
      class="footer-img img1"
    />
  </div>
  <div
    class="bg-white"
    style="clip-path: ellipse(50% 96% at 50% 100%); height: 100px; z-index: 999"
  ></div>
</div>
<div class="row mx-0 border-top-main2 d-xl-none d-block"></div>
<footer class="page-footer font-small bg-white pt-5 pt-xl-0">
  <div class="container text-center text-md-left">
    <div class="row mx-0 px-md-0">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 small">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">++CV</h6>
        <hr
          class="bg-main accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>the best platform for aprofessional practical life.</p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 small px-0">
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr
          class="bg-main accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />

        <p>
          <a routerLink="/find-job">post ajob</a>
        </p>
        <p>
          <a routerLink="/employee">build CV</a>
        </p>
        <p>
          <a routerLink="/find-job">find ajob </a>
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 small">
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr
          class="bg-main accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          <a routerLink="/my-account">My Account</a>
        </p>

        <p>
          <a routerLink="/browse-templates">our templates</a>
        </p>
        <p>
          <a routerLink="/">Home</a>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 px-0 small">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr
          class="bg-main accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          <i class="fa fa-envelope mr-1 color-main"></i>
          sondosmarashdeh360@gmail.com
        </p>
        <p><i class="fa fa-phone mr-1 color-main"></i> + 01 99999999</p>
        <p><i class="fa fa-print mr-1 color-main"></i> + 01 99999999</p>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3 bg-main text-white small">
    © 2021 Copyright:
    <a href="https://ssondoss.github.io/me/" target="_blank" class="text-white">
      Sondos Marshdeh</a
    >
  </div>
</footer>
