<div class="d-none d-xl-block">
  <div class="row mx-0">
    <img
      src="../../assets/footer images/man_1.png"
      alt=""
      class="footer-img img1"
    />
    <img
      src="../../assets/footer images/man_2.png"
      alt=""
      class="footer-img img2"
    />
    <img
      src="../../assets/footer images/man_3.png"
      alt=""
      class="footer-img img3"
    />
    <img
      src="../../assets/footer images/man_4.png"
      alt=""
      class="footer-img img4"
    />
    <img
      src="../../assets/footer images/man_5.png"
      alt=""
      class="footer-img img5"
    />
    <img
      src="../../assets/footer images/man_6.png"
      alt=""
      class="footer-img img5"
    />
    <img
      src="../../assets/footer images/man_7.png"
      alt=""
      class="footer-img img4"
    />
    <img
      src="../../assets/footer images/man_8.png"
      alt=""
      class="footer-img img2"
    />

    <img
      src="../../assets/footer images/man_9.png"
      alt=""
      class="footer-img img1"
    />
  </div>
  <div
    class="bg-white"
    style="clip-path: ellipse(50% 96% at 50% 100%); height: 100px; z-index: 999"
  ></div>
</div>

<footer class="page-footer font-small">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">BAZZAR</h6>
        <hr
          class="bg-main accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
          voluptatibus.
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Shops</h6>
        <hr
          class="bg-main accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          <a href="#!">Tag1 </a>
        </p>
        <p>
          <a href="#!">tag2</a>
        </p>
        <p>
          <a href="#!">tag3</a>
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr
          class="primary accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          <a href="#!">My Account</a>
        </p>

        <p>
          <a href="#!">Join Us</a>
        </p>
        <p>
          <a href="#!">Home</a>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr
          class="primary accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
        <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
        <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3 bg-main text-white">
    © 2020 Copyright:
    <a> </a>
  </div>
</footer>
