<footer class="page-footer font-small border-top pt-3">
  <div class="container text-center text-md-left">
    <div class="row mx-0 justify-content-center">
      <p class="small mx-3">
        <a href="#!">sign in </a>
      </p>
      <p class="small mx-3">
        <a href="#!">sign up </a>
      </p>
      <p class="small mx-3">
        <a href="#!">post ajob </a>
      </p>
      <p class="small mx-3">
        <a href="#!">find ajob </a>
      </p>
      <p class="small mx-3">
        <a href="#!">browse candidates </a>
      </p>
      <p class="small mx-3">
        <a href="#!">build cv </a>
      </p>
      <p class="small mx-3">
        <a href="#!">home </a>
      </p>
      <p class="small mx-3">
        <a href="#!">our templates </a>
      </p>

      <p class="small mx-3">
        <a href="#!">contact us</a>
      </p>
    </div>
  </div>

  <div class="footer-copyright text-center py-2 bg-main text-white small">
    © 2020 Copyright:
    <a> </a>
  </div>
</footer>
