@media screen and (max-width: 769px) {
  .main-div {
    position: relative !important;
  }
  h3 {
    font-size: 18px !important;
  }
}
.main-div {
  position: absolute;
  top: 15%;
}
@media screen and (max-width: 769px) {
  .main-div {
    position: absolute;
  }
}

@media screen and (min-width: 1025px) {
  .main-div {
    position: absolute;
  }
  .m-h {
    min-height: 99vh;
  }
}
@media screen and (max-width: 1025px) {
  .main-div {
    position: absolute;
  }

  .m-h {
    min-height: 68vh;
  }
}
