<app-navbar></app-navbar>
<div
  class="bg-light"
  style="min-height: 100vh; clip-path: inset(75% 0 12% 0); position: relative"
></div>
<div
  class="text-center justify-content-center w-100"
  style="position: absolute; top: 9%"
>
  <div class="text-center mb-3 py-5">
    <h3 class="letter-spacing text-uppercase">
      <span class="color3 my-auto">Contact</span> us
    </h3>
  </div>

  <div class="row mx-0 w-100 d-flex">
    <div class="col-md-5 mx-auto">
      <form action="" class="border px-5 py-4 bg-white rounded-lg mx-5 shadow">
        <h6 class="py-4">
          We're open for any suggestion or just to have a chat :
        </h6>

        <div class="form-group mt-4">
          <input type="text" class="form-control" placeholder="Your Name" />
        </div>
        <div class="form-group mt-4">
          <input type="text" class="form-control" placeholder="Your Email" />
        </div>
        <div class="form-group mt-4">
          <textarea
            name=""
            id=""
            rows="4"
            class="w-100 p-2"
            placeholder="Message"
          ></textarea>
        </div>
        <button class="btn btn-main my-4 w-25 py-3">SEND</button>
      </form>
    </div>

    <div class="col-md-5 d-flex text-left">
      <div class="my-auto text-left">
        <div class="my-auto">
          <img
            src="../../assets/email (1).svg"
            alt=""
            height="40"
            width="auto"
          />
          <span class="font-weight-bold my-auto mx-3">
            sondosmarashdeh360@gmail.com
          </span>
        </div>
        <div class="mt-5">
          <img
            src="../../assets/iphone-5-from-frontal-and-side-views.svg"
            alt=""
            height="40"
            width="auto"
          />
          <span class="font-weight-bold my-auto mx-3"> 0798022719 </span>
        </div>
        <div class="mt-5">
          <img src="../../assets/address.svg" alt="" height="40" width="auto" />
          <span class="font-weight-bold my-auto mx-3"> Jordan , Amman </span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
