.main-div {
  height: 200px !important;
  width: 230px !important;
}
.main-div {
  animation: mymove 1s alternate;
}
.main-div-2 {
  animation: mymove2 1s alternate;
}
.main-div-2 {
  height: 200px !important;
  width: 230px !important;
}
@keyframes mymove {
  from {
    right: 300px;
  }
  to {
    right: 0px;
  }
}
@keyframes mymove2 {
  from {
    left: 300px;
  }
  to {
    left: 0px;
  }
}
.main-div:hover {
  height: 200px !important;
  width: 200px !important;
  border: none !important;

  background-color: #cccccc57;
  transition: 1s;
}
.main-div-2:hover {
  height: 200px !important;
  width: 200px !important;
  border: none !important;
  background-color: #cccccc57;

  transition: 1s;
}

.main-div:focus {
  border: none !important;
  box-shadow: none !important;
}
.main-div-2:focus {
  border: none !important;
  box-shadow: none !important;
}
.main-div:active {
  border: none !important;
  box-shadow: none !important;
}
.main-div-2:active {
  border: none !important;
  box-shadow: none !important;
}
.w-75 {
  width: 75% !important;
}
.circle {
  height: 80px !important;
  width: 80px !important;
  border-radius: 50% !important;
}
.border-grey {
  border: 1px solid #cccccc;
}
.circle img {
  height: 40px;
}
@media screen and (max-width: 542px) {
  .circle img {
    height: 25px;
  }
  .h5 {
    font-size: 16px !important;
  }
  .text-head {
    font-size: 12px !important;
  }
  .circle {
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
  }
}
@media screen and (max-width: 769px) and (min-width: 543px) {
  h3 {
    font-size: 21px !important;
  }
  .circle img {
    height: 40px !important;
  }
  .circle {
    height: 80px !important;
    width: 80px !important;
    border-radius: 50% !important;
  }
}
@media screen and (max-width: 1025px) and (min-width: 769px) {
  .circle img {
    height: 30px;
  }
  .circle {
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
  }
}
