<app-navbar></app-navbar>

<div
  *ngIf="isSettedUp"
  class="
    row
    w-100
    px-3
    justify-content-center
    mx-0
    my-5
    flex-column-reverse flex-lg-row
  "
  style="min-height: 90vh"
>
  <form
    [formGroup]="personalInformationForm"
    class="p-md-5 p-3 shadow bg-white col-xl-6 col-lg-7 m-auto h-100 rounded"
  >
    <div class="row mx-0 bg-light2 p-3" (click)="showPersonalInformation()">
      <div class="text-left my-auto h5">Personal Information</div>
      <div class="ml-auto my-auto">
        <i
          *ngIf="personalInformation === false"
          class="fa fa-chevron-down"
          aria-hidden="true"
        ></i>

        <i
          *ngIf="personalInformation === true"
          class="fa fa-chevron-up"
          aria-hidden="true"
        ></i>
      </div>
    </div>
    <div *ngIf="personalInformation === true">
      <div class="row mx-0 mt-4">
        <div class="col-lg-6 pl-lg-0 pr-lg-2 px-0">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput required formControlName="name" />
            <mat-error
              *ngIf="
                personalInformationForm.controls.name.errors?.required &&
                personalInformationForm.controls.name.touched
              "
            >
              this field is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 pr-lg-0 px-0">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Job role</mat-label>
            <input matInput required formControlName="role" />
            <mat-error
              *ngIf="
                personalInformationForm.controls.role.errors?.required &&
                personalInformationForm.controls.role.touched
              "
            >
              this field is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field class="w-100" appearance="outline">
        <div *ngIf="uploadedVideoName.length > 0" class="text-center">
          <video
            [src]="getVideoSrc(uploadedVideoName)"
            controls
            height="300"
            width="90%"
          ></video>
        </div>
        <mat-label>introductry video </mat-label>
        <ngx-mat-file-input
          formControlName="video"
          accept="video/*"
          (change)="uploadVideo($event)"
          required
        ></ngx-mat-file-input>
        <mat-icon matSuffix
          ><i class="fa fa-folder-open color-main" aria-hidden="true"></i>
        </mat-icon>
      </mat-form-field>
      <div
        class="color-main w-100 mb-4 undelined-hover"
        aria-hidden="true"
        [popoverOnHover]="false"
        [popover]="myPopovernotification"
      >
        what is introductry video?
      </div>
      <popover-content
        #myPopovernotification
        placement="top"
        class=""
        [animation]="true"
        [closeOnClickOutside]="true"
      >
        <div class="p-3">
          this video is an important component to add to your CV , try to
          include in it abreive summary answering common interviews questions
          like :
          <div class="text-muted mt-2">tell me about your self ?</div>
          <div class="text-muted mt-2">What are your strengths ?</div>
          <div class="text-muted mt-2">what's your weak points ?</div>

          <div class="text-muted mt-2">
            Where do you see yourself in five years?
          </div>
        </div>
      </popover-content>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>write about yourself</mat-label>
        <textarea matInput formControlName="about" required></textarea>
        <mat-error
          *ngIf="
            personalInformationForm.controls.about.errors?.required &&
            personalInformationForm.controls.about.touched
          "
        >
          this field is required
        </mat-error>
      </mat-form-field>

      <div class="form-group px-0 mt-4">
        <div class="row mx-0">
          <label for="" class="col-10 px-0"
            >External links <small> (youtube , linkedin , etc)</small></label
          >
        </div>
      </div>
      <div class="row mx-0 mt-3 px-0" *ngFor="let link of links">
        <mat-form-field
          class="col-lg-8 pl-lg-0 pr-lg-2 px-0"
          appearance="outline"
        >
          <mat-label>Link</mat-label>
          <input
            matInput
            #linkValue
            [value]="link.link"
            (change)="addLinkChange(link.id, linkValue.value)"
          />
        </mat-form-field>

        <mat-form-field class="col-lg-3 col-10 px-0" appearance="outline">
          <mat-label>Select</mat-label>
          <mat-select [(value)]="link.icon">
            <mat-option value="facebook" (click)="addIcon(link.id, 'facebook')">
              <a>
                <i class="fa fa-facebook-official mx-2" aria-hidden="true"></i>
                Facebook
              </a>
            </mat-option>
            <mat-option value="github" (click)="addIcon(link.id, 'github')">
              <a>
                <i class="fa fa-github mx-2"></i>
                GitHub
              </a></mat-option
            >

            <mat-option value="youtube" (click)="addIcon(link.id, 'youtube')">
              <a>
                <i class="fa fa-youtube mx-2"></i>
                YouTube
              </a></mat-option
            >
            <mat-option value="linkedin" (click)="addIcon(link.id, 'linkedin')">
              <a>
                <i class="fa fa-linkedin-square mx-2" aria-hidden="true"></i>
                LinkedIn
              </a>
            </mat-option>
            <mat-option value="globe" (click)="addIcon(link.id, 'globe')">
              <a>
                <i class="fa fa-globe mx-2" aria-hidden="true"></i>
                others
              </a>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="col-lg-1 col-2 my-auto text-right px-0">
          <a (click)="deleteLink(link.id)">
            <i class="fa fa-minus-circle text-danger"></i
          ></a>
        </div>
      </div>
      <div class="col-12 px-0 mt-3">
        <button class="btn btn-outline-success w-100" (click)="addLink()">
          <i class="fa fa-plus t-8" aria-hidden="true"></i>
          add link
        </button>
      </div>
    </div>
    <div class="row mx-0 bg-light2 p-3 mt-4" (click)="showEducation()">
      <div class="text-left my-auto h5">Education</div>
      <div class="ml-auto my-auto">
        <i
          *ngIf="educationDiv === false"
          class="fa fa-chevron-down"
          aria-hidden="true"
        ></i>

        <i
          *ngIf="educationDiv === true"
          class="fa fa-chevron-up"
          aria-hidden="true"
        ></i>
      </div>
    </div>
    <div *ngIf="educationDiv === true">
      <div
        class="p-md-4 p-3 my-4 border rounded"
        *ngFor="let field of eduactionFields"
      >
        <div class="form-group px-0 row mx-0">
          <div class="col-6 pl-0 pr-2">
            <mat-form-field class="w-100 h-100" appearance="outline">
              <mat-label>starting month and year</mat-label>
              <input
                matInput
                [matDatepicker]="startEducationDP"
                [formControl]="getDate(field.startYear)"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="startEducationDP"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #startEducationDP
                startView="multi-year"
                (yearSelected)="chosenYearHandler($event, startEducationDate)"
                (monthSelected)="
                  chosenMonthHandlerStartEdu(
                    $event,
                    startEducationDP,
                    startEducationDate,
                    field.id
                  )
                "
                panelClass="example-month-picker"
              >
              </mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-6 px-0">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>ending month and year</mat-label>
              <input
                matInput
                [matDatepicker]="endEducationDP"
                [formControl]="getDate(field.endYear)"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="endEducationDP"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #endEducationDP
                startView="multi-year"
                (yearSelected)="chosenYearHandler($event, endEducationDate)"
                (monthSelected)="
                  chosenMonthHandlerEndEdu(
                    $event,
                    endEducationDP,
                    endEducationDate,
                    field.id
                  )
                "
                panelClass="example-month-picker"
              >
              </mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>description</mat-label>
          <textarea
            matInput
            #description
            [value]="field.description"
            (change)="addDescription(field.id, description.value)"
          ></textarea>
        </mat-form-field>

        <div class="text-right">
          <small class="text-danger" (click)="deleteEducationField(field.id)"
            ><i class="fa fa-minus-circle" aria-hidden="true"></i> delete this
            field</small
          >
        </div>
      </div>
      <div class="py-2"></div>
      <button
        class="btn btn-outline-success w-100"
        (click)="addEducationField()"
      >
        <i class="fa fa-plus t-8" aria-hidden="true"></i>
        add field
      </button>
    </div>
    <div class="row mx-0 bg-light2 p-3 mt-4" (click)="showExperienceDiv()">
      <div class="text-left my-auto h5">Experience</div>
      <div class="ml-auto my-auto">
        <i
          *ngIf="experienceDiv === false"
          class="fa fa-chevron-down"
          aria-hidden="true"
        ></i>

        <i
          *ngIf="experienceDiv === true"
          class="fa fa-chevron-up"
          aria-hidden="true"
        ></i>
      </div>
    </div>
    <div *ngIf="experienceDiv === true">
      <div
        class="p-md-4 p-3 my-4 border"
        *ngFor="let field of experienceFields"
      >
        <div class="form-group px-0 row mx-0">
          <div class="col-6 pl-0 pr-2">
            <mat-form-field class="w-100 h-100" appearance="outline">
              <mat-label>Starting month and year</mat-label>
              <input
                matInput
                [matDatepicker]="startExperienceDP"
                [formControl]="getDate(field.startYear)"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="startExperienceDP"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #startExperienceDP
                startView="multi-year"
                (yearSelected)="chosenYearHandler($event, startExperienceDate)"
                (monthSelected)="
                  chosenMonthHandlerStartExp(
                    $event,
                    startExperienceDP,
                    startExperienceDate,
                    field.id
                  )
                "
                panelClass="example-month-picker"
              >
              </mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-6 px-0">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Ending month and year</mat-label>
              <input
                matInput
                [matDatepicker]="endExperienceDP"
                [formControl]="getDate(field.endYear)"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="endExperienceDP"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #endExperienceDP
                startView="multi-year"
                (yearSelected)="chosenYearHandler($event, endExperienceDate)"
                (monthSelected)="
                  chosenMonthHandlerEndExp(
                    $event,
                    endExperienceDP,
                    endExperienceDate,
                    field.id
                  )
                "
                panelClass="example-month-picker"
              >
              </mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>description</mat-label>
          <textarea
            matInput
            #description
            [value]="field.description"
            (change)="addDescriptionExperience(field.id, description.value)"
          ></textarea>
        </mat-form-field>

        <div class="text-right">
          <small class="text-danger" (click)="deleteExperienceField(field.id)"
            ><i class="fa fa-minus-circle" aria-hidden="true"></i> delete this
            field</small
          >
        </div>
      </div>
      <div class="py-2"></div>
      <button
        class="btn btn-outline-success w-100"
        (click)="addExperienceField()"
      >
        <i class="fa fa-plus t-8" aria-hidden="true"></i>
        add field
      </button>
    </div>
    <div class="row mx-0 bg-light2 p-3 mt-4" (click)="showSkills()">
      <div class="text-left my-auto h5">skills</div>
      <div class="ml-auto my-auto">
        <i
          *ngIf="skillsDiv === false"
          class="fa fa-chevron-down"
          aria-hidden="true"
        ></i>

        <i
          *ngIf="skillsDiv === true"
          class="fa fa-chevron-up"
          aria-hidden="true"
        ></i>
      </div>
    </div>

    <div *ngIf="skillsDiv === true" class="pt-4">
      <div *ngFor="let skill of skills" class="row mx-0">
        <div class="form-group col-11 pl-0">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Skill</mat-label>
            <input
              matInput
              [value]="skill.skill"
              #skillValue
              (change)="skillChange(skill.id, skillValue.value)"
            />
          </mat-form-field>
          <!-- <input
            type="text"
            class="form-control"
            [value]="skill.skill"
            placeholder="skill"
            #skillValue
          /> -->
        </div>
        <div class="col-1 my-auto px-0">
          <div class="text-right px-0 pb-4" (click)="deleteSkill(skill.id)">
            <i class="fa fa-minus-circle text-danger"></i>
          </div>
        </div>
      </div>

      <button (click)="addSkill()" class="btn btn-outline-success w-100">
        <i class="fa fa-plus t-8" aria-hidden="true"></i>
        add skill
      </button>
    </div>
    <div class="row mx-0 bg-light2 p-3 mt-4" (click)="showContactInfo()">
      <div class="text-left my-auto h5">Contact Information</div>
      <div class="ml-auto my-auto">
        <i
          *ngIf="contactDiv === false"
          class="fa fa-chevron-down"
          aria-hidden="true"
        ></i>

        <i
          *ngIf="contactDiv === true"
          class="fa fa-chevron-up"
          aria-hidden="true"
        ></i>
      </div>
    </div>
    <div *ngIf="contactDiv === true">
      <div class="row mx-0 mt-5">
        <div class="form-group col-lg-6 px-0 pl-lg-0 pr-lg-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input matInput required formControlName="phone" maxlength="12" />
            <mat-error
              *ngIf="
                personalInformationForm.controls.phone.errors?.required &&
                personalInformationForm.controls.phone.touched
              "
            >
              this field is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-6 px-0">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput required formControlName="email" />
            <mat-error
              *ngIf="
                personalInformationForm.controls.email.errors?.required &&
                personalInformationForm.controls.email.touched
              "
            >
              this field is required
            </mat-error>
            <mat-error
              *ngIf="
                personalInformationForm.controls.email.hasError('invalidEmail')
              "
            >
              invalid email address
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group col-lg-12 px-0">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput required formControlName="address" />
          <mat-error
            *ngIf="
              personalInformationForm.controls.address.errors?.required &&
              personalInformationForm.controls.address.touched
            "
          >
            this field is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="mt-5 text-center justify-content-center row mx-0">
      <button
        *ngIf="!filledCv"
        class="btn btn-main mx-2 w-100"
        (click)="sendPersonalInformation()"
      >
        Next
      </button>
      <button
        *ngIf="filledCv"
        class="btn btn-bordered mx-2 w-100"
        (click)="sendPersonalInformation()"
      >
        Update CV Information
      </button>
    </div>
  </form>
  <div class="col-xl-4 col-lg-5 pl-lg-4 m-auto px-0 justify-content-center">
    <div class="row mb-5 mx-0 px-0 justify-content-center">
      <div class="circle bg-white d-flex shadow">
        <img
          src="../../assets/cv-build1.svg"
          alt=""
          class="m-auto"
          width="auto"
        />
      </div>
      <div class="my-auto ml-2 bg-white shadow p-3 rounded w-auto text-head">
        insert your CV information
      </div>
    </div>
    <div class="row mx-0 mb-5 px-0 justify-content-center">
      <div class="circle bg-white d-flex shadow">
        <img src="../../assets/select.svg" alt="" class="m-auto" width="auto" />
      </div>
      <div
        class="
          text-head
          my-auto
          ml-2
          bg-white
          shadow
          p-3
          rounded
          w-auto
          justify-content-center
        "
      >
        choose your desired template
      </div>
    </div>
    <div class="row mx-0 mb-5 px-0 justify-content-center">
      <div class="circle bg-white d-flex shadow">
        <img
          src="../../assets/complete.svg"
          alt=""
          class="m-auto"
          width="auto"
        />
      </div>
      <div class="my-auto ml-2 bg-white shadow p-3 rounded w-auto text-head">
        receive your CV link , share it ultimately
      </div>
    </div>
  </div>
</div>
<footer-scd></footer-scd>

<!--<h5>conatct information</h5>
 <div class="">  <div class="form-group col-lg-6 px-0">
  <label for="">Mobile Number</label>

  <input type="text" class="form-control" />
</div>
<div class="col-lg-6 my-auto">
  <a class="text-success">
    <i class="fa fa-plus" aria-hidden="true"></i>
    add another number
  </a>
</div></div>
 <div class="form-group col-lg-6">
          <label for="">E-mail</label>
          <br />
          <input class="form-check-input" type="checkbox" value="" />

          <input type="text" class="form-control" />
        </div>  -->
