<div class="p-3 border-bottom side-nav" routerLink="/my-account">
  Account Information
</div>

<div class="p-3 border-bottom side-nav" routerLink="/my-posts">Posted Jobs</div>
<div class="p-3 border-bottom side-nav" routerLink="/change-password">
  Change Password
</div>

<!-- <div class="p-3 border-bottom side-nav" routerLink="/change-password">
  Change Password
</div> -->
<div class="p-3 border-bottom side-nav" routerLink="/my-applications">
  My Applications
</div>

<div class="p-3 border-bottom side-nav" routerLink="/my-cv">My CV</div>
<div class="p-3 side-nav" (click)="userSession.logout()">Logout</div>
