.navbar a {
  color: #fff !important;
}
.border-main {
  border: 1px solid #e48257;
}
.border-main {
  border-bottom: 1px solid #e48257;
}
.dropdown .dropdown-menu .dropdown-item {
  background-color: #fff !important;
  color: #000 !important;
  font-size: 14px;
}
.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #eeeeee !important;
  color: #000000 !important;
}
.dropdown .dropdown-menu a:hover {
  text-decoration: none !important;
  color: #000000 !important;
}
