<app-navbar></app-navbar>

<div class="py-4 bg-scd bg-light px-0 mx-0" style="min-height: 100vh">
  <div class="col-xl-6 col-lg-8 col-md-10 mx-auto px-2">
    <form action="" class="w-100 border p-3 p-md-5 border rounded-lg bg-white">
      <p class="mb-5">
        Post your job and Reach the perfect candidates for the job :
      </p>
      <div class="form-group">
        <label for="">Job Title</label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group pt-3">
        <label for="">Company Name</label>

        <input type="text" class="form-control" />
      </div>
      <div class="row mx-0 px-0">
        <div class="form-group col-4 px-0">
          <label for="">Country</label>

          <input type="text" class="form-control" value="Jordan" disabled />
        </div>
        <div class="form-group col-8 pr-0">
          <label for="">job Location </label>

          <select class="form-control" id="">
            <option>Amman</option>
            <option>balqaa</option>
            <option>Irbid</option>
            <option>zarqaa</option>
            <option>Ma'an</option>
            <option>Tafela</option>
            <option>Aqaba</option>
          </select>
        </div>
      </div>
      <div class="form-group pt-3">
        <label for=""> Add a job description </label>

        <textarea rows="4" class="w-100"></textarea>
      </div>
      <div class="row mx-0 px-0 pt-3">
        <div class="form-group col-md-6 px-0">
          <label for="">Employment type </label>
          <select class="form-control" id="">
            <option>Full-time</option>
            <option>Part-time</option>
            <option>Contract</option>
            <option>Temporary</option>
            <option>Volunteer</option>
            <option>Internship</option>
          </select>
        </div>
        <div class="form-group col-md-6 pr-md-0 px-0 pl-md-2">
          <label for="">Experince Level </label>

          <select class="form-control" id="">
            <option>entry level</option>
            <option>asscociate</option>
            <option>mid-senior</option>
            <option>director</option>
            <option>Internship</option>
          </select>
        </div>
      </div>

      <div class="form-group pt-3">
        <label for="">add skills </label>

        <div class="row mx-0 my-2">
          <div class="form-group col-md-8 px-0 my-auto pr-md-2">
            <input type="text" class="form-control" placeholder="skill" />
          </div>
          <div class="form-group col-md-3 col-10 px-0 my-auto">
            <select class="form-control mt-2 mt-md-0" id="">
              <option>required</option>
              <option>prefered</option>
            </select>
          </div>

          <div class="col-md-1 col-2 text-right my-auto">
            <a class="text-dark"
              ><i class="fa fa-trash t-23 text-danger mt-2"></i
            ></a>
          </div>
        </div>
        <div class="mt-4">
          <a class="text-success">
            <i class="fa fa-plus t-8" aria-hidden="true"></i>
            add another skill
          </a>
        </div>
      </div>
      <div class="form-group pt-3">
        <label for="">add Qualifications </label>

        <div class="row mx-0 my-2">
          <div class="form-group col-md-12 px-0 my-auto pr-md-2">
            <input
              type="text"
              class="form-control"
              placeholder="qualification"
            />
          </div>
          <div class="form-group col-10 px-0 my-auto">
            <select class="form-control mt-2" id="">
              <option>required</option>
              <option>prefered</option>
            </select>
          </div>

          <div class="col-2 text-right my-auto">
            <a class="text-dark"
              ><i class="fa fa-trash t-23 text-danger mt-2"></i
            ></a>
          </div>
        </div>
        <div class="mt-4">
          <a class="text-success">
            <i class="fa fa-plus t-8" aria-hidden="true"></i>
            add another qualification
          </a>
        </div>
      </div>
      <div class="row mx-0 mt-5">
        <div class="col-6 text-right">
          <button class="btn btn-outline-success">preview</button>
        </div>
        <div class="col-6 text-left">
          <button class="btn btn-success">send</button>
        </div>
      </div>
    </form>
  </div>
</div>
<footer-scd></footer-scd>
