<app-navbar></app-navbar>

<div
  class="
    row
    w-100
    px-2 px-xl-4 px-lg-4 px-md-5
    justify-content-center
    mx-0
    my-5
    flex-column-reverse flex-lg-row
  "
  style="min-height: 85vh"
>
  <form
    action=""
    class="p-md-5 p-3 shadow bg-white col-xl-6 col-lg-6 m-auto h-100 rounded"
    [formGroup]="postJobForm"
  >
    <div class="row mx-0 bg-light2 p-3" (click)="showJobDetails()">
      <div class="text-left my-auto h5">Job Details</div>
      <div class="ml-auto my-auto">
        <i
          *ngIf="jobDetails === false"
          class="fa fa-chevron-down"
          aria-hidden="true"
        ></i>

        <i
          *ngIf="jobDetails === true"
          class="fa fa-chevron-up"
          aria-hidden="true"
        ></i>
      </div>
    </div>
    <span *ngIf="jobDetails === true" class="">
      <mat-form-field class="w-100 pt-4" appearance="outline">
        <mat-label>Job Title</mat-label>
        <input matInput required formControlName="jobTitle" />
        <mat-error
          *ngIf="
            postJobForm.controls.jobTitle.errors?.required &&
            postJobForm.controls.jobTitle.touched
          "
        >
          this field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Company Name</mat-label>
        <input matInput required formControlName="company" />
        <mat-error
          *ngIf="
            postJobForm.controls.company.errors?.required &&
            postJobForm.controls.company.touched
          "
        >
          this field is required
        </mat-error>
      </mat-form-field>
      <p>Job Location</p>

      <div class="row mx-0 px-0">
        <div class="col-md-6 pl-md-0 pr-md-2 px-0">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Country</mat-label>
            <input matInput required formControlName="country" />
          </mat-form-field>
        </div>

        <mat-form-field class="col-md-6 px-0" appearance="outline">
          <mat-label>City</mat-label>
          <mat-select formControlName="city">
            <mat-option value="amman"> amman</mat-option>
            <mat-option value="balqaa">balqaa </mat-option>
            <mat-option value="irbid"> irbid</mat-option>
            <mat-option value="zarqaa"> zarqaa</mat-option>
            <mat-option value="ma'an">ma'an </mat-option>
            <mat-option value="tafela">tafela </mat-option>
            <mat-option value="aqaba">aqaba </mat-option>
            <mat-option value="madaba">madaba </mat-option>

            <mat-option value="ajloon">ajloon </mat-option>
            <mat-option value="jarash">jarash </mat-option>
            <mat-option value="karak">karak </mat-option>
            <mat-option value="mafraq">mafraq </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>job description</mat-label>
        <textarea formControlName="jobDescription" matInput></textarea>
      </mat-form-field>

      <div class="row mx-0 px-0">
        <mat-form-field
          class="col-md-6 pl-md-0 pr-md-2 px-0"
          appearance="outline"
        >
          <mat-label>Employment type</mat-label>
          <mat-select formControlName="employmentType">
            <mat-option value="full-time">full-time </mat-option>
            <mat-option value="part-time"> part-time</mat-option>
            <mat-option value="contract"> contract</mat-option>
            <mat-option value="temporary">temporary </mat-option>
            <mat-option value="volunteer">volunteer </mat-option>
            <mat-option value="internship">internship </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-6 px-0" appearance="outline">
          <mat-label>Experince Level</mat-label>
          <mat-select formControlName="experienceLevel">
            <mat-option value="entry-level">entry-level </mat-option>
            <mat-option value="asscociate"> asscociate</mat-option>
            <mat-option value="mid-senior"> mid-senior</mat-option>
            <mat-option value="director">director </mat-option>
            <mat-option value="internship">internship </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </span>
    <div class="row mx-0 bg-light2 p-3 mt-4" (click)="showSkills()">
      <div class="text-left my-auto h5">Job Skills</div>
      <div class="ml-auto my-auto">
        <i
          *ngIf="skillsDiv === false"
          class="fa fa-chevron-down"
          aria-hidden="true"
        ></i>

        <i
          *ngIf="skillsDiv === true"
          class="fa fa-chevron-up"
          aria-hidden="true"
        ></i>
      </div>
    </div>
    <div class="mt-4" *ngIf="skillsDiv === true">
      <div class="row mx-0" *ngFor="let skill of skillsPostJob">
        <mat-form-field class="col-11 pl-0" appearance="outline">
          <mat-label>skill</mat-label>
          <input
            matInput
            required
            #skillValue
            (change)="skillChange(skill.id, skillValue.value)"
          />
        </mat-form-field>

        <div class="col-1 my-auto px-0">
          <div class="text-right pb-3 px-0" (click)="deleteSkill(skill.id)">
            <i class="fa fa-minus-circle text-danger"></i>
          </div>
        </div>
      </div>
      <div class="mt-1">
        <button class="btn btn-outline-success w-100" (click)="addSkill()">
          <i class="fa fa-plus t-8" aria-hidden="true"></i>
          add skill
        </button>
      </div>
    </div>
    <div class="row mx-0 bg-light2 p-3 mt-4" (click)="showQualifications()">
      <div class="text-left my-auto h5">Job Qualifications</div>
      <div class="ml-auto my-auto">
        <i
          *ngIf="qualificationsDiv === false"
          class="fa fa-chevron-down"
          aria-hidden="true"
        ></i>

        <i
          *ngIf="qualificationsDiv === true"
          class="fa fa-chevron-up"
          aria-hidden="true"
        ></i>
      </div>
    </div>
    <div class="pt-4" *ngIf="qualificationsDiv === true">
      <div class="row mx-0 my-2" *ngFor="let qualification of qualifications">
        <mat-form-field class="col-11 pl-0" appearance="outline">
          <mat-label>Qualifications</mat-label>
          <input
            matInput
            required
            #q
            (change)="qualificationChange(qualification.id, q.value)"
          />
        </mat-form-field>

        <div class="col-1 my-auto px-0">
          <div
            class="text-right pb-3 px-0"
            (click)="deleteQualification(qualification.id)"
          >
            <i class="fa fa-minus-circle text-danger"></i>
          </div>
        </div>
      </div>
      <div class="mt-1">
        <button
          class="btn btn-outline-success w-100"
          (click)="addQualification()"
        >
          <i class="fa fa-plus t-8" aria-hidden="true"></i>
          add qualification
        </button>
      </div>
    </div>

    <button class="btn btn-main w-100 mt-5" (click)="sendPostAjobInformation()">
      send
    </button>
  </form>
  <div class="col-xl-4 col-lg-6 m-auto px-0 justify-content-center">
    <div class="row mb-5 mx-0 px-0 justify-content-center">
      <div class="circle bg-white d-flex shadow">
        <img
          src="../../assets/job-details.svg"
          alt=""
          class="m-auto"
          width="auto"
        />
      </div>
      <div class="my-auto ml-2 bg-white shadow p-3 rounded w-auto text-head">
        insert your Job post details
      </div>
    </div>
    <div class="row mb-5 mx-0 px-0 justify-content-center">
      <div class="circle bg-white d-flex shadow">
        <img
          src="../../assets/receive.svg"
          alt=""
          class="m-auto"
          width="auto"
        />
      </div>
      <div class="my-auto ml-2 bg-white shadow p-3 rounded w-auto text-head">
        receive applications matches your requirments
      </div>
    </div>
    <div class="row mb-5 mx-0 px-0 justify-content-center">
      <div class="circle bg-white d-flex shadow">
        <img src="../../assets/hiring.svg" alt="" class="m-auto" width="auto" />
      </div>
      <div class="my-auto ml-2 bg-white shadow p-3 rounded w-auto text-head">
        hire the right candidate
      </div>
    </div>
  </div>
</div>
<footer-scd></footer-scd>
