<app-navbar></app-navbar>

<div class="d-flex w-100 p-3" style="min-height: 100vh">
  <form
    action=""
    class="py-4 px-md-5 px-3 shadow bg-white col-xl-6 col-lg-8 col-md-10 m-auto"
  >
    <div class="row mx-0">
      <div class="text-left mt-0 font-weight-bold">
        <h4 class="py-3">Skills</h4>
      </div>
      <div class="text-right ml-auto my-auto color2 px-2 py-1 rounded">
        4 / 5
      </div>
    </div>

    <!-- <div class="form-group px-0 pt-4">
        <label for=""
          >add your education fields links (ex : 2015 - graduated from high
          school ..)</label
        >
      </div> -->
    <div class="row mx-0 mt-4">
      <div class="form-group col-10 pl-0">
        <input type="text" class="form-control" placeholder="skill" />
      </div>

      <div class="col-2">
        <a class="text-dark"
          ><i class="fa fa-trash t-23 text-danger mt-2"></i
        ></a>
      </div>
    </div>
    <div class="row mx-0 mt-3">
      <div class="form-group col-10 pl-0">
        <input type="text" class="form-control" placeholder="skill" />
      </div>

      <div class="col-2">
        <a class="text-dark"
          ><i class="fa fa-trash t-23 text-danger mt-2"></i
        ></a>
      </div>
    </div>
    <div class="row mx-0 mt-3">
      <div class="form-group col-10 pl-0">
        <input type="text" class="form-control" placeholder="skill" />
      </div>

      <div class="col-2">
        <a class="text-dark"
          ><i class="fa fa-trash t-23 text-danger mt-2"></i
        ></a>
      </div>
    </div>
    <div class="row mx-0 mt-3">
      <div class="form-group col-10 pl-0">
        <input type="text" class="form-control" placeholder="skill" />
      </div>

      <div class="col-2">
        <a class="text-dark"
          ><i class="fa fa-trash t-23 text-danger mt-2"></i
        ></a>
      </div>
    </div>
    <div class="py-1"></div>
    <a class="color2">
      <i class="fa fa-plus t-8" aria-hidden="true"></i>
      add another skill
    </a>

    <div class="form-group px-0 mt-4">
      <div class="mt-5 text-center justify-content-center row mx-0">
        <button
          class="btn btn2-bordered btn-sm mx-2"
          routerLink="/contact-information"
        >
          <i class="fa fa-angle-left" aria-hidden="true"></i> Back
        </button>
        <button class="btn btn-sm btn2 mx-2" routerLink="/contact-information">
          Next <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>
  <!-- <div class="col-lg-4 mx-auto mt-5 mt-lg-0" style="position: relative">
    <div class="m-auto card px-0 border">
      <img
        src="../../assets/personal-div.png"
        alt=""
        width="auto"
        height="auto"
        class="m-4"
      />
      <div class="text-center bg-white p-1">
        <h4 class="">Tips</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur.
        </p>
      </div>
    </div>
  </div> -->
</div>
<footer-scd></footer-scd>
