<div class="row border-bottom pb-2">
  <h5 class="color2 text-left col-6">add new section</h5>
  <i class="fa fa-times text-dark text-right col-6 pt-1" (click)="onNoClick()">
  </i>
</div>
<div>
  <form action="" class="mt-4">
    <div class="form-group">
      <label> Section place </label>
      <select class="form-control" id="">
        <option>after first section</option>
        <option>before last section</option>
      </select>
    </div>
    <div class="form-group">
      <label> Section place </label>

      <input type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label> Section place </label>
      <textarea name="" id="" rows="3" class="w-100"></textarea>
    </div>
  </form>

  <div class="text-right mt-4">
    <button class="btn btn2-bordered mx-1" (click)="onNoClick()">cancel</button>
    <button class="btn btn2 mx-1">confirm</button>
  </div>
</div>
