html,
body {
  font-family: "Raleway", Arial, "Times New Roman", Times, sans-serif !important;
}
div,
p,
span {
  font-family: "Raleway", Arial, "Times New Roman", Times, sans-serif !important;
}
.nav-pills .nav-item {
  width: 50% !important;
  font-family: "Raleway", Arial, "Times New Roman", Times, sans-serif;
  font-weight: 600 !important;
  font-size: 18px !important;
  border-radius: 0 !important;
  color: #000000 !important;
}
.nav-pills .nav-item a {
  color: #000000 !important;
}
.nav-pills .nav-item a:hover {
  color: #e48257 !important;
  border-bottom: 3px solid #e48257;
  border-radius: 0 !important;
}
.nav-pills .nav-item .active {
  background-color: #ffffff;
  color: #e48257 !important;

  border-bottom: 3px solid #e48257;
  border-radius: 0 !important;
}

.btn-main {
  color: #ffffff !important;
  border: 3px solid #e48257 !important;
  font-weight: bold;
  background-color: #e48257;
}
.btn-main:hover {
  color: #ffffff !important;
  border: 3px solid #d1754e !important;
  font-weight: bold;
  background-color: #d1754e;
}

.border-main {
  border: 2px solid #e48257 !important;
}

.color-main {
  color: #e48257 !important;
}
.bg-linear {
  background-image: linear-gradient(to right, #e48257, #e48257);
}

.bg2 {
  background-color: #e48257 !important;
}
.rounded-lg {
  border-radius: 15px !important;
}
.a-black {
  color: #000000 !important;
}
.hr {
  background-color: #e48257 !important;
  height: 2px !important;
  margin-top: 100px !important;
  margin-bottom: 100px !important;

  width: 15% !important;
}
.circeld-img {
  border-radius: 50% !important;
  border: 2px solid #e48257 !important;
}
.circeld-avatar {
  border-radius: 50% !important;
}
.mt-per {
  margin-top: 13% !important;
}
.h-600 {
  height: 600px !important;
}
.navbar-nav .nav-item a:hover {
  color: #fff !important;
  text-decoration: underline;
}
.navbar-nav .nav-item a {
  font-size: 14px !important;
}
.navbar-nav .nav-item a:focus {
  color: #fff !important;
}
.bg-light-green {
  height: 100vh;
}
.bg-main {
  background-color: #e48257 !important;
}
.letter-spacing {
  letter-spacing: 19px !important;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
.major-img {
  animation: float 4s infinite;
}
@keyframes slide {
  0% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}
.slide-img {
  animation: slide 1.2s ease-out;
}
@media screen and (max-width: 1300px) and (min-width: 1026px) {
  .footer-img {
    margin-right: 20px !important;
    margin-left: 20px !important;
  }
}
@media screen and (max-width: 1400px) and (min-width: 1305px) {
  .footer-img {
    margin-right: 23px !important;
    margin-left: 23px !important;
  }
}
@media screen and (max-width: 1500px) and (min-width: 1405px) {
  .footer-img {
    margin-right: 27px !important;
    margin-left: 27px !important;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1505px) {
  .footer-img {
    margin-right: 33px !important;
    margin-left: 33px !important;
  }
}
@media screen and (max-width: 1660px) and (min-width: 1605px) {
  .footer-img {
    margin-right: 39px !important;
    margin-left: 39px !important;
  }
}
.footer-img {
  margin-right: 43px;
  margin-left: 43px;
}
.img1 {
  margin-bottom: -73px;
  animation: pipeUP 0.6s ease-in-out;

  margin-top: 73px;
}
.img2 {
  margin-top: 50px;
  margin-bottom: -50px;
  animation: pipeUP 1.2s ease-in-out;
}
.img3 {
  margin-top: 30px;
  margin-bottom: -30px;
  animation: pipeUP 1.8s ease-in-out;
}
.img4 {
  margin-top: 20px;
  margin-bottom: -20px;
  animation: pipeUP 2.4s ease-in-out;
}
.img5 {
  margin-top: 10px;
  margin-bottom: -10px;
  animation: pipeUP 3s ease-in-out;
}
@keyframes pipeUP {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.btn-bordered {
  border: 1px solid #e48257 !important;
  color: #e48257 !important;
}
.btn-bordered:hover {
  border: 1px solid #e48257 !important;
  color: white !important;
  background-color: #e48257;
  box-shadow: none !important;
}
.btn-bordered:hover {
  border: 1px solid #e48257 !important;
  color: white !important;
  background-color: #e48257;
  box-shadow: none !important;
}
.bg-main2 {
  background-color: #046582;
}
.bg-scd {
  background-color: #eeeeee;
}
.text-grey {
  color: #a09e9e;
}
.bg-scd2 {
  background-color: #eeeeee;
}
.color2 {
  color: #cfc5a5;
}
.btn2-bordered {
  border: 1px solid #cfc5a5;
  color: #cfc5a5;
}
.btn2 {
  background-color: #cfc5a5;
  color: #fff;
}
.border-bottom-main {
  border-bottom: 1px solid #e48257;
}
::placeholder {
  font-size: 14px !important;
  color: #9e9e9e;
}
.underlined-link {
}
a {
  color: #3a3a3a;
}
.border-main {
  border: 1px solid #e48257;
}
.w-75 {
  width: 75% !important;
}
.t-8 {
  font-size: 8px !important;
}
:host::ng-deep popover-content::ng-deep .arrow {
  left: 45% !important;
  right: 45% !important;
}
.no-bullets {
  list-style-type: none;
}
.no-bullets li:hover {
  background-color: #d1cfcf4d;
  border: none !important;
  outline: none !important;
}
.no-bullets li:focus {
  background-color: #d1cfcf4d;
  border: none !important;
  outline: none !important;
}
.no-bullets li:active {
  background-color: #d1cfcf4d;
  border: none !important;
}
:host::ng-deep popover-content::ng-deep .popover-body {
  padding: 0 !important;
}
.t-23 {
  font-size: 23px !important;
}
.border2 {
  border: 1px solid #cfc5a5;
}
.h-100vh {
  height: 100vh !important;
}
.h-90vh {
  height: 90vh !important;
}
.t-18 {
  font-size: 18px !important;
}
.border-top-main {
  border-top: 0.5px solid #000;
}
.border-top-main2 {
  border-top: 0.5px solid #e48257;
}
.bg-lightBlue {
  background-color: #f6fbff;
}
.bg-light2 {
  background-color: #eeeeee;
}
::ng-deep datepicker-value-example .mat-form-field-label .active {
  color: #fff !important;
}

::ng-deep .mat-datepicker-toggle {
  color: #e48257 !important;
}
::ng-deep .mat-form-field-underline:hover {
  background: #e48257 !important;
}
::ng-deep .mat-form-field-underline:focus {
  background: #e48257 !important;
}
::ng-deep .mat-form-field-underline .active {
  background: #e48257 !important;
}
mdb-date-picker .md-form label.active {
  color: #00000000;
}
mdb-date-picker .md-form input[type="text"]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 green !important;
  border-bottom: 1px solid green !important;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #000 !important;
}

// ::ng-deep.mat-form-field-underline {
//   /*change color of underline*/
//   background-color: #e48257 !important;
// }

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #000 !important;
}

// ::ng-deep .mat-form-field-label {
//   /*change color of label*/
//   color: #e48257 !important;
// }

mat-datepicker-toggle {
  color: #000 !important;
}
.mat-calendar {
  color: #000 !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #00000000;
}
::ng-deep .mat-select:focus .mat-select-trigger .mat-select-arrow {
  color: #000 !important;
}
::ng-deep .mat-option:hover {
  color: #000 !important;
}
::ng-deep mat-option:focus {
  color: #000 !important;
}
::ng-deep .mat-select:focus .mat-select-trigger .mat-select-underline {
  color: #000 !important;
}
:host ::ng-deep .mat-select-value-text {
  color: #000 !important;
}
.not-empty-select.mat-selected {
  color: #000 !important;
}
.mat-option.mat-active {
  color: #000 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #aaa !important;
}
/* Font color */
// input.mat-input-element {
//   color: #363636 !important;
// }
.bg-beeg {
  background-color: #fdf6ef;
  border: 1px solid #f8e0ca;
}
.light-orange {
  color: #fabea7;
}
.bg-light-orange {
  background-color: #fabea7;
}
.color2 {
  color: #cfc5a5;
}
.bg-color2 {
  background-color: #cfc5a5;
}
.border-bottom2 {
  border-bottom: 4px solid #cfc5a5;
}
.fa-sm {
  font-size: 12px !important;
}
.t-16 {
  font-size: 16px !important;
}
.t-13 {
  font-size: 13px !important;
}
.t-14 {
  font-size: 14px !important;
}
.break {
  word-break: break-all !important;
}
.mat-form-field .mat-warn .mat-input-element,
.mat-form-field-invalid .mat-input-element {
  color: #000 !important;
}
.mat-form-field.mat-warn .mat-input-element,
.mat-form-field-invalid .mat-input-element {
  caret-color: #000 !important;
}
.mat-form-field-flex .mat-input-element .ng-invalid {
  color: #000 !important;
}
// .mat-form-field-infix
.hover-light:hover {
  box-shadow: 2px 8px 16px #d4d3d3;
  transition: 0.7s;
  // background-color: #fafafa !important;
}
.btn-white {
  border: 1px solid #fff;
  color: #fff;
}
.btn-white:hover {
  background-color: #fff;
  color: #e48257 !important;
}
.btn-white:focus {
  background-color: #fff;
  color: #e48257 !important;
  box-shadow: none !important;
}
.undelined-hover:hover {
  text-decoration: underline !important;
  cursor: pointer;
}
