<div class="h-100 bg-brown">
  <div
    class="
      row
      mx-0
      pt-4
      justifiy-content-center
      flex-column-reverse flex-md-row
    "
  >
    <div
      class="
        col-lg-6 col-md-7 col-xl-5
        mx-auto
        bg-brown
        my-md-5 my-0
        text-center
      "
    >
      <h2
        class="text-dark parent mt-5 pt-4"
        style="
          white-space: nowrap;
          overflow: hidden;
          font-size: 28px;
          color: #fff;
        "
      >
        Hello. My name is
      </h2>

      <h1 class="color-pink t-huge font-weight-bold mt-4">Sondos Marashdeh</h1>
      <div class="mt-4 color-pink2 t-md" style="word-break: break-all">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
        maiores excepturi id vero voluptatem facere sequi iure blanditiis
        numquam, tempora itaque fugiat veritatis dicta unde accusamus mollitia
        architecto suscipit dolore!
      </div>
      <div class="row mx-0 pt-5 mt-xl-5 text-dark text-center mb-5">
        <div class="mx-auto" *ngFor="let a of [0, 1, 2, 3]">
          <a class="socail" href="http://localhost:4200/" target="_blank">
            <i class="fa fa-globe text-dark t-25"></i
          ></a>
        </div>
        <!-- <div class="mx-auto socail">
          <a class="socail" href="#" target="_blank">
            <i class="fa fa-github fa-2x text-dark"></i>
          </a>
        </div>
        <div class="mx-auto socail">
          <a class="socail" href="#" target="_blank">
            <i class="fa fa-youtube fa-2x text-dark"></i>
          </a>
        </div> -->
      </div>
    </div>
    <div class="col-md-4 justifiy-content-center m-auto d-flex">
      <video
        controls
        src="../../../assets/talk-about-your-self.mp4"
        class="border-pink mx-auto video"
        width="100%"
      ></video>
    </div>
  </div>

  <div class="container">
    <div class="py-lg-5 py-md-4 py-2 my-xl-3"></div>

    <h1 class="color-pink py-3 ml-md-0 ml-3">My Eduacation</h1>
    <div
      class="row mx-0 w-100 time-line-div mt-5"
      *ngFor="let j of [1, 2, 3, 4, 5, 6]"
    >
      <div class="col-xl-2 col-md-3 col-lg-3 pb-2 pb-md-5 text-left">
        <div class="text-dark time-circle mx-auto">
          <div class="pt-3 small mt-1">
            apr/2012
            <span class="text-white mx-1">-</span> may/2013
          </div>
          <div
            *ngIf="j < 6"
            class="bg-pink-white mx-auto mt-4 rounded-lg d-md-block d-none line"
            style="width: 2px"
          ></div>
        </div>
      </div>
      <div class="col-xl-10 col-lg-9 col-md-9 px-0 text-left">
        <p class="color-pink2 time-line-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quia
          sapiente et, enim, ratione laboriosam natus rerum explicabo maxime ex
          quidem voluptatem cum nihil accusamus quod velit labore voluptates
          reiciendis neque harum est.
        </p>
      </div>
    </div>
    <div class="py-4"></div>

    <h1 class="text-left ml-md-0 ml-3 color-pink py-4 mt-5">Main Skills</h1>

    <div
      class="text-center justifiy-content-center"
      style="position: relative"
    ></div>
    <ul class="h6 list-unstyled">
      <div class="row mx-0 px-0 text-left">
        <li
          class="color-pink2 mx-auto skills my-4 pr-5"
          *ngFor="let k of [0, 1, 2, 3, 4, 5]"
        >
          <img
            src="../../../assets/light-theme-icoms/tools.svg"
            height="20"
            width="20"
            class="mr-2"
          />
          Lorem, ipsum dolor.
        </li>
      </div>
    </ul>
    <div class="py-4"></div>

    <h1 class="color-pink py-3 my-5 ml-md-0 ml-3">Experience</h1>

    <div
      class="row mx-0 w-100 time-line-div mt-5 fieldRow"
      *ngFor="let l of [0, 1, 2, 3, 4]"
    >
      <div class="col-xl-2 col-md-3 col-lg-3 pb-2 pb-md-5 text-left">
        <div class="text-dark time-circle mx-auto">
          <div class="pt-3 small mt-1">
            may/2019
            <span class="text-white mx-1">-</span> june/2021
          </div>
          <div
            *ngIf="l < 4"
            class="bg-pink-white mx-auto mt-4 rounded-lg d-md-block d-none line"
            style="width: 2px"
          ></div>
        </div>
      </div>
      <div class="col-xl-10 col-lg-9 col-md-9 px-0 text-left">
        <p class="color-pink2 time-line-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur
          natus delectus vel odit cumque. Vero dolores eius eos, pariatur in
          quae doloremque autem excepturi tempora quam maxime, error iusto?
        </p>
      </div>
    </div>

    <div class="py-4"></div>
    <h1 class="color-pink py-3 my-5 ml-md-0 ml-3">Get In Touch</h1>
    <div class="row mx-2 mx-md-3 text-md-center text-left">
      <div class="mt-4 text-left col-lg-3 px-0 mx-0">
        <img
          src="../../../assets/light-theme-icoms/phone-call.svg"
          class="mr-3"
          alt=""
          height="30"
          width="30"
        />
        <span class="text-dark">089999999999</span>
      </div>
      <div class="mt-4 text-left col-lg-4 text-lg-center px-0">
        <img
          src="../../../assets/light-theme-icoms/address.svg"
          class="mr-3"
          alt=""
          height="30"
          width="30"
        />
        <span class="text-dark">amman,jordan</span>
      </div>
      <div class="mt-4 text-left col-lg-5 text-lg-right px-0">
        <img
          src="../../../assets/light-theme-icoms/love-letter.svg"
          class="mr-3"
          alt=""
          height="30"
          width="30"
        />
        <span class="text-dark">email@gmail.com<</span>
      </div>
    </div>
    <div class="py-4"></div>
    <div class="py-5 mb-4 mt-5 contact col-md-8 offset-md-2 px-0">
      <div class="row mx-0">
        <div class="col-2 col-md-3 text-right">
          <i
            class="fa fa-arrow-circle-right color-pink fa-2x flash"
            aria-hidden="true"
          ></i>
        </div>
        <div class="col-8 text-center col-md-6">
          <a
            class="color-pink p-3 px-4 rounded-lg h4 get_in_touch border-yellow"
            >contact me</a
          >
        </div>
        <div class="col-2 col-md-3 text-left">
          <i
            class="fa fa-arrow-circle-left color-pink fa-2x flash"
            aria-hidden="true"
          ></i>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div
      class="text-center text-dark py-3 mt-5"
      style="border-top: 0.5px solid #aaa"
    >
      <small>
        Copyright © 2021 by
        <a
          href="https://ssondoss.github.io/me/"
          target="_blank"
          class="text-dark font-weight-bold mx-2"
        >
          Sondos Marashdeh</a
        ></small
      >
    </div>
  </footer>
</div>
