@media screen and (max-width: 541px) {
  .main-div {
    position: relative !important;
    margin-top: 44px !important;
    margin-bottom: 44px !important;
  }
}
.main-div {
  position: absolute;
  top: 23%;
}
