<app-navbar> </app-navbar>

<div
  class="row mx-0 justify-content-center w-100 main-div px-3"
  style="min-height: 89vh"
>
  <form
    [formGroup]="resetPasswordForm"
    class="
      bg-white
      text-dark
      w-100
      border
      px-md-5 px-4
      py-4
      col-xl-5 col-lg-7 col-md-8
      m-auto
      rounded-lg
      text-center
    "
  >
    <h3 class="pb-3 text-dark">Reset Password</h3>

    <!-- <div class="text-left alert bg-beeg p-2 row mx-0 rounded-sm my-3">
        <div class="col-1 px-0 px-md-1 my-auto">
          <img
            src="../../assets/icon_alert.svg"
            height="20"
            width="100%"
            alt="image"
            class="px-0 text-left"
          />
        </div>
        <small class="col-11 px-2 t-media-12 my-auto">
          Your E-mail is already used , please use another one and try again
          .</small
        >
      </div> -->

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>New Password</mat-label>
      <input
        matInput
        required
        formControlName="newPassword"
        type="password"
        minlength="6"
        maxlength="100"
      />
      <mat-error
        class="px-0 mx-0"
        *ngIf="
          resetPasswordForm.controls.newPassword.errors?.required &&
          resetPasswordForm.controls.newPassword.touched
        "
      >
        this field is required
      </mat-error>
      <mat-error
        class="px-0 mx-0"
        *ngIf="resetPasswordForm.controls.newPassword.hasError('minlength')"
      >
        minimum of 6 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        required
        formControlName="confirmPassword"
        type="password"
        minlength="6"
        maxlength="100"
      />
      <mat-error
        class="px-0 mx-0"
        *ngIf="
          resetPasswordForm.controls.confirmPassword.errors?.required &&
          resetPasswordForm.controls.confirmPassword.touched
        "
      >
        this field is required
      </mat-error>
      <mat-error
        *ngIf="
          resetPasswordForm.controls.confirmPassword.touched &&
          resetPasswordForm.controls.confirmPassword.hasError(
            'mismatchedPasswords'
          )
        "
        >passwords do not match</mat-error
      >
      <mat-error
        class="px-0 mx-0"
        *ngIf="resetPasswordForm.controls.confirmPassword.hasError('minlength')"
      >
        minimum of 6 characters
      </mat-error>
    </mat-form-field>
    <div class="form-group mt-3 text-center">
      <button class="btn btn-main py-2 w-50" (click)="resetPassword()">
        Confirm
      </button>
    </div>
  </form>
</div>
<footer-scd></footer-scd>
